body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999e;
  font-family: 'Montserrat' sans-serif;
  margin: 10px 20px;
}

a:hover{
  color: #eaf6f6;
}


img{
  border-radius: 50%;
}
.top-container {
  background-color: #d4ebd0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.web {
  font-size: 20px;
  color: red;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 250px;
}

.web-dev {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.web-dev2 {
  width: 25%;
  float: right;
  margin-left: 10%
}

.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
color: #eaf6f6;
font-size: 12px;
padding: 20px 0;


}

.BUTTON_PJA {
  background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color:#11cdd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Montserrat;
	font-size:20px;
	font-weight:bold;
	padding:10px 20px 10px 20px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#30e3cb;
}
.myButton:active {
	position:relative;
	top:1px;
}
